/* line 3, ../sass/dynamic-sheen.scss */
body {
  background: black;
}

/* line 5, ../sass/dynamic-sheen.scss */
.sheen {
  color: white;
  /* Fallback: assume this color ON TOP of image */
  display: inline-block;
  position: absolute;
  float: left;
  top: 0px;
  left: 0px;
  width: -webkit-fit-content;
}

/* line 15, ../sass/dynamic-sheen.scss */
.sheen-text {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 30px;
  color: white;
}

/* line 22, ../sass/dynamic-sheen.scss */
.sheen-text2 {
  font-family: 'Verdana';
  font-weight: normal;
  font-size: 12px;
  color: white;
}

/* line 34, ../sass/dynamic-sheen.scss */
.fallBackAnimation {
  -webkit-animation-name: colorAnimation;
  /* Chrome, Safari, Opera */
  animation-name: colorAnimation;
}

/* line 39, ../sass/dynamic-sheen.scss */
.sheen-glow {
  color: white;
  /*background: -webkit-linear-gradient(transparent, transparent), url(http://portfolio.queenofwhisks.com/demo/pattern/waves.gif);
   background: -o-linear-gradient(transparent, transparent);*/
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 41%, white 55%, white 95%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(41%, rgba(255, 255, 255, 0)), color-stop(55%, white), color-stop(95%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 41%, white 55%, white 95%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 41%, white 55%, white 95%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 41%, white 55%, white 95%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 41%, #ffffff 55%, #ffffff 95%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  background-size: 200% 100%;
  opacity: .95;
  background-repeat: no-repeat;
  background-position: -50% 0;
  width: auto;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
/* line 72, ../sass/dynamic-sheen.scss */
.sheen-glow:before {
  content: attr(data-content);
}

/* line 80, ../sass/dynamic-sheen.scss */
.hover {
  cursor: pointer;
}
/* line 82, ../sass/dynamic-sheen.scss */
.hover:hover {
  -webkit-animation-name: sheenAnimation;
  /* Chrome, Safari, Opera */
  animation-name: sheenAnimation;
  -webkit-animation-iteration-count: 1;
  /* Chrome, Safari, Opera */
  animation-iteration-count: 1;
}

/* line 91, ../sass/dynamic-sheen.scss */
.slow {
  -webkit-animation-duration: 4s;
  /* Chrome, Safari, Opera */
  animation-duration: 4s;
}

/* line 96, ../sass/dynamic-sheen.scss */
.fast {
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  animation-duration: 2s;
}

/* line 101, ../sass/dynamic-sheen.scss */
.infinite {
  -webkit-animation-name: sheenAnimation;
  /* Chrome, Safari, Opera */
  animation-name: sheenAnimation;
  -webkit-animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  animation-iteration-count: infinite;
}

/* line 109, ../sass/dynamic-sheen.scss */
.sheen-base {
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes sheenAnimation {
  0%,10% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
@-webkit-keyframes sheenAnimation {
  0%,10% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
@-moz-keyframes sheenAnimation {
  0%,10% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
@-webkit-keyframes colorAnimation {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}
/* line 142, ../sass/dynamic-sheen.scss */
a {
  text-decoration: none;
}

/* line 146, ../sass/dynamic-sheen.scss */
a .sheen {
  *background-color: red !important;
}

/* line 150, ../sass/dynamic-sheen.scss */
a #sheen-base {
  background-color: red !important;
}
