@import "compass";

$color: #ffffff;
$opacity: .85;
$color_show: rgba($color,$opacity);
$color_hide:  rgba($color,0);

body{
	background:black;
}

.sheen{
	color: white;  /* Fallback: assume this color ON TOP of image */
	display: inline-block;
	position:absolute;
	float:left;
	top:0px;
	left:0px;
	
}

svg{
	position:absolute;
	float:left;
	top:0px;
	left:0px;
	display: inline-block;
}

@mixin modernAnimation{
	-webkit-animation-name: sheenAnimation; /* Chrome, Safari, Opera */
	animation-name: sheenAnimation;
}

.sheen-glow {
	
	color:white;
	
	
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	//$experimental-support-for-svg: true;
	//@include background-image(linear-gradient(right, $color_hide 0%,$color_hide 41%,$color_show 55%, $color_show 95%, $color_hide 100%));
	
	@include background(linear-gradient(to right $color_hide 0%,$color_hide 41%,$color_show 55%, $color_show 95%, $color_hide 100%));
	
	
	background-size: 200% 100%;
	
	background-repeat:no-repeat;
	background-position: -50% 0;
	
	width:auto;
	
	&:before{
		content:attr(data-content);
		margin-right:-1%;
	}
	
}

.hover{
	
	cursor:pointer;
	
	&:hover{
		@include modernAnimation;
		-webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
		animation-iteration-count: 1;
	}
}

.superslow{
	-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
	animation-duration: 4s;
}

.slow{
	-webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
	animation-duration: 3s;
}

.medium{
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-duration: 2s;
}

.fast{
	-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
	animation-duration: 1s;
}

.superfast{
	-webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
	animation-duration: .5s;
}

.infinite{
	
	@include modernAnimation;
	
	-webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
	animation-iteration-count: infinite;
	
}

.text-sheen{
	background-clip: text;
	-webkit-background-clip: text;
	
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}

.button-sheen{
	width: 100%;
	height: 100%;
}

@keyframes sheenAnimation { 
    0%,10%{background-position:200% 0%}
    100%{background-position:-100% 0%}
}

@-webkit-keyframes sheenAnimation { 
    0%,10%{background-position:200% 0%}
    100%{background-position:-100% 0%}
}

@-moz-keyframes sheenAnimation { 
    0%,10%{background-position:200% 0%}
    100%{background-position:-100% 0%}
}

/* CUSTOM DEMO GRAPHICS */

#sheen{
	color:red;
}

.sheen-text-base{
	color:#fff;
}
#sheen2{
	color:blue;
}


#sheen3{
	color:brown;
}

.sheenButton{
	overflow:hidden;
	width:auto;
	display:inline-block;
	padding:10px 15px;
	@include background(linear-gradient(lightblue, blue));
	font-family:Helvetica;
	color:white;
	border:1px solid white;
}

.sheenButtonRound{
	overflow:hidden;
	width:auto;
	display:inline-block;
	padding:12px 9px;
	background:green;
	font-family:Helvetica;
	font-weight:bold;
	color:white;
	border:2px solid white;
	@include border-radius(25px);
}

.sheenButtonImage{
	overflow:hidden;
	width:auto;
	display:inline-block;
	padding: 16px 61px;
	font-size:15px;
	background:url(../img/button_bg.png) no-repeat top left;
	background-size:cover;
	font-family:Helvetica;
	font-weight:bold;
	color:white;
	border:none;
	@include border-radius(25px);
}

.sheen-text{
	font-family:'Helvetica';
	font-weight:bold;
	font-size:30px;
	//color:white;
}



